:root {
    /* Light theme colors */
    --bg-color-light: #f0f2f6;
    --text-color-light: #333;
    --alert-bg-color-light: #f9f9f9;
    --alert-border-color-light: #ddd;
    --sidebar-bg-color-light: #f8f9fa;
    --button-bg-color-light: #4CAF50;
    --button-hover-bg-color-light: #45a049;
    --input-border-color-light: #ccc;
    --dataframe-bg-color-light: #fff;
    --dataframe-border-color-light: #ddd;

    /* Dark theme colors */
    --bg-color-dark: #1e1e1e;
    --text-color-dark: #f0f0f0;
    --alert-bg-color-dark: #2e2e2e;
    --alert-border-color-dark: #444;
    --sidebar-bg-color-dark: #2e2e2e;
    --button-bg-color-dark: #4CAF50;
    --button-hover-bg-color-dark: #45a049;
    --input-border-color-dark: #555;
    --dataframe-bg-color-dark: #2e2e2e;
    --dataframe-border-color-dark: #444;
}

body {
    background-color: var(--bg-color-light);
    font-family: monospace, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-light);
}

.stAlert {
    background-color: var(--alert-bg-color-light);
    border-radius: 5px;
    border: 1px solid var(--alert-border-color-light);
    padding: 15px;
}


.stButton > button {
    background-color: var(--button-bg-color-light);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.stButton > button:hover {
    background-color: var(--button-hover-bg-color-light);
}

.stTextInput > div > input {
    padding: 10px;
    border: 1px solid var(--input-border-color-light);
    border-radius: 5px;
}

.stDataFrame {
    background-color: var(--dataframe-bg-color-light);
    border: 1px solid var(--dataframe-border-color-light);
    border-radius: 5px;
    padding: 10px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark);
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--text-color-dark);
    }

    .stAlert {
        background-color: var(--alert-bg-color-dark);
        border: 1px solid var(--alert-border-color-dark);
    }

    

    .stButton > button {
        background-color: var(--button-bg-color-dark);
    }

    .stButton > button:hover {
        background-color: var(--button-hover-bg-color-dark);
    }

    .stTextInput > div > input {
        border: 1px solid var(--input-border-color-dark);
    }

    .stDataFrame {
        background-color: var(--dataframe-bg-color-dark);
        border: 1px solid var(--dataframe-border-color-dark);
    }
}
